* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    scroll-behavior: smooth;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    /* background: #b4b4b499; */
    /* backdrop-filter: blur(10px); */
    background-color: rgb(0 0 0 / 71%);
    width: 100%;
    box-shadow: 0 0 12px black;
    z-index: 3;
}


nav {
    display: flex;
    align-items: center;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 45px;
    
}


.logo h2{
    object-fit: contain;
    /* height: 70px; */
    color: #ffffff;
}
.nav-links a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    /* font-family: "Kanit", sans-serif; */
    transition: color 0.3s ease;
    font-size: 18px;
    /* padding: 5px; */
    text-transform: uppercase;
    position: relative;
    cursor: pointer;
}

.nav-links a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color:white;
    transition: width 0.5s ease;
}

.nav-links a:hover::after {
    width: 100%;
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    gap: 5px;
    position: absolute;
    right: 20px;
}

.hamburger span {
    width: 25px;
    height: 3px;
    background: white;
    border-radius: 2px;
    transition: all 0.3s linear;
}

#menu-toggle {
    display: none;
}

.parent {
    /* background-color: blueviolet; */
    height: auto;
    width: 100%;
    /* border: 2px solid; */
}

.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    text-wrap: pretty;
    background-color: rgb(59, 59, 59);
    flex-direction: column;
    text-align: center;
   height: 45vh;
}
.hero-title{
    font-size: 50px;
    color:#ff9800;
}
.parent-5 {
    background-image: url(media/kitchen-5055083_1920.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.chefs {
    background: #000000cc;
    text-align: center;
}

.chefs h2 {
    color: #ff9800;
    padding: 30px;
    font-size: 35px;
}

.chefs-list {
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 300px;
    justify-content: center;
    align-items: center;
}

.flip-card {
    background-color: transparent;
    width: 190px;
    height: 254px;
    perspective: 1000px;
    font-family: sans-serif;
    margin: 50px;
}

.title {
    font-size: 1.5em;
    font-weight: 900;
    text-align: center;
    margin: 0;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    box-shadow: 0 8px 14px 5px rgba(0, 0, 0, 0.2);
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border: 1px solid rgb(91, 91, 91);
    border-radius: 1rem;
}

.flip-card-front {
    color: rgb(82, 82, 82);
    font-size: 20px;
}

.one {
    background-image: url(media/ChefMorimotoSmiling.jpg);
    background-position: center;
    background-size: cover;
}

.two {
    background-image: url(media/yoshihiro_murata.jpg);
    background-position: center;
    background-size: cover;
}

.three {
    background-image: url(media/Harumi.jpg);
    background-position: center;
    background-size: cover;
}

.four {
    background-image: url(media/uncle\ roger);
    background-position: center;
    background-size: cover;
}

.five {
    background-image: url(media/nick\ digiovanni.jpg);
    background-position: center;
    background-size: cover;
}
.six{
    background-image: url(media/jamie-catherine.jpg);
    background-position: center;
    background-size: cover;
}
.seven{
    background-image: url(media/sanjeev.jfif);
    background-position: center;
    background-size: cover;
}

.flip-card-back {
    background: #000000cc;
    color: white;
    transform: rotateY(180deg);
}

.flip-card-back p:not(.title) {
    font-size: 12px;
}

.footer {
    color: #eaeaea;
    /* color: #f3c5c5; */
    background-color: rgb(59, 59, 59);

    padding: 20px 0;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.footer-section {
    flex: 1 1 250px;
    padding: 10px;
}

.footer-section h2 {
    margin-bottom: 10px;
    font-size: 18px;
}

.footer-section p,
.footer-section ul {
    margin: 0 0 10px;
    line-height: 1.6;
}

.footer-section ul {
    list-style: none;
}

input {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    color: black;
    }

    .form-btn{
        border: none;
        background-color: transparent;
        border: 2px solid;
        border-radius: 30px ;
        margin: 10px;
        height: 45px;
        padding: 10px;
        background-color: #E2DAD6;
        color: #000000cc;
        transition: all 0.5s ease;
    }
    .form-btn:hover{
      background-color: #000000cc;
      color: #E2DAD6;
    }
a {
    color: #e68900;
    text-decoration: none;
    cursor: pointer
}

 a:hover {
    color: #fff;
}

.footer-section ul li a:hover {
    color: #fff;
}

.footer-bottom {
    text-align: center;
    padding: 10px;
    /* background-color: #ffffff; */
    position: relative;
}

.back-to-top {
    background-color: #ff9800;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    position: absolute;
    right: 20px;
    bottom: 10px;
    border-radius: 5px;
}

.back-to-top:hover {
    background-color: #e68900;
}

@media (max-width: 1120px){
    header{
        position: fixed;
    }
    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 60px;
        left: 0;
        background-color: rgb(0 0 0 / 71%);
        /* (43, 45, 66); */
        padding: 20px 0;
    }

    .nav-links li {
        text-align: center;

    }

    .hamburger {
        display: flex;
    }

    #menu-toggle:checked+.hamburger+nav .nav-links {
        display: flex;
    }
}
@media (max-width: 832px) {
    

    .about-content p {
        padding: 0px 50px;
        font-size: 18px;
    }

    .menu-items {
        flex-direction: row;
    }

    .menu-item h3 {
        font-size: 1.2em;
    }

    img#c-img {
        height: 190px;
    }

    .contact-content {
        top: -120px;
    }

    .contact {
        height: 360px;
        width: 100%;
        padding: 30px;
    }

    .hero-title {
        font-size: 39px;
    }

    .hero-para {
        font: 15px;
    }

    .image-container {
        /* position: relative; */
        width: 200px;
        height: 300px;
        /* margin: 30px; */
    }

    .card1 {
        height: 400px;
        width: 260px;
    }

    .form-text h3 {
        font-size: 30px;
    }

    .form-text p {
        font-size: 15px;
    }

    input,
    select {
        height: 25px;
    }

    .child-1 p {
        font-size: 14px;
        background: #000000cc;
        margin: 0px;
        padding: 20px;
    }

    .select {
        position: sticky;
        top: 100px;
    }

    .select a {
        font-size: 14px;
    }

    .flip-card-back p:not(.title) {
        font-size: 13px;
    }
    .flip-card{    
        width: 120px;
        margin:20px;
    }
    select {
        padding: 0;
    }

    .about-img {
        height: 50vh;
    }

    .parent-6 .child {
        flex-basis: 100%;
        /* Stack the children on top of each other on smaller screens */
    }

    .contact input,
    .contact textarea {
        width: 100%;
        /* Make sure inputs and text areas take full width */
        margin: 0px;
    }

    .input-group h3 {
        font-size: 17px;
        margin-bottom: 0;
    }

    .input-group {
        margin: 10px
    }

    .footer-content {
        flex-direction: column;
        text-align: center;
    }

    .contact input,
    textarea::placeholder {
        /* color: #000000; */
        font-size: 12px;
    }

    .back-to-top {
        position: static;
        margin-top: 20px;
    }

    .about-title {
        color: #ff9800;
        font-size: 40px;
    }
}